<div class="media">
    <div class="flex-container">
        <div class="flex-item">
            <button class="share-btn">Share</button>
            <br>
            <!-- <div style="text-align: center;">
                <input type="range" min="1" max="100" value="50" class="slider" id="volume-slider">
            </div> -->
        </div>
        <div class="flex-item middle-media" id="middle-media">
            <div>
                <h2>A Beautiful Lie</h2>
                <p>Thirsty Seconds to Mars</p>
                <audio controls>
                    <source src="media/a beautiful lie.mp3">
                </audio>
                <br><br>
                <button onClick="toggleLyrics()">Toggle lyrics</button>
            </div>
        </div>
        <div class="flex-item">
            <div style="text-align: center;">
                <img src="../media/pic.jpg" id="music-pic">
            </div>
        </div>
        <div class="share-slider hide-slider">
            <ul>
                <li>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="lyrics-modal hide-lyrics">
            <!-- <i class="bi bi-x-square"></i> -->
            <h1>Lyrics</h1>
            <p>Lorem ipsumipsum dolor sit ametamet consectetur adipisicing elit. Enim quo quibusdam, corrupti perferendis illum, excepturi necessitatibus beatae quae iste recusandae incidunt quasi voluptatum reiciendis sed, labore qui a quos? Beatae?</p>
        </div>
    </div>
</div>