<div class="nav">
    <h1>Radio Station Site</h1>
    <ul>
        <li>
            <a href="index.html">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li>
            <a href="#">Songs</a>
        </li>
        <li>
            <a href="contact-us">Contact Us</a>
        </li>
    </ul>
</div>