@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');
:root {
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --black: #1B1212;
    --link-hover: grey;
    --link-transition-time: 0.5s;
    --btn-radius: 10px;
}

body {
    margin: 0;
}

.nav {
    width: 100%;
    background-color: var(--black);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav ul {
    list-style: none;
    float: right;
    margin-right: 20px;
}

.nav li {
    display: inline;
    font-family: var(--secondary-font);
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.nav h1 {
    display: inline-block;
    font-family: var(--primary-font);
    margin: 0;
    padding-left: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: var(--link-transition-time);
}

.nav a:hover {
    cursor: pointer;
    color: var(--link-hover);
}

.footer {
    width: 100%;
    background-color: var(--black);
    color: white;
    padding: 20px 0 20px 0;
}

.footer ul {
    list-style: none;
    display: inline-block;
}

.footer li {
    display: inline;
    padding: 0 5px 0 5px;
    font-family: var(--secondary-font);
}

.footer a {
    text-decoration: none;
    color: white;
    transition: var(--link-transition-time);
}

.footer a:hover {
    color: var(--link-hover);
}

.bottom-nav-section{
    float: right;
    margin-right: 30px;
    margin-top: -65px;
}

.bottom-nav-section ul {
    margin-top: 20px;
}

.bottom-nav-section h1 {
    margin: 0;
    text-align: center;
}

.footer h1 {
    font-family: var(--primary-font);
}

.footer-title {
    margin-left: 20px;
    width: 50%;
}

.social {
    margin-left: 40px;
}

.media .flex-container {
    display: flex;
    background-color: black;
    border-bottom: solid white 5px; 
}

.media .flex-container .flex-item {
    height: 300px;
    color: white;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider {
    width: 80%;
    height: 20px;
    outline: none;
}

#volume-slider {
    margin-top: 215px;
}

#volume-slider:hover {
    cursor: pointer;
}

.share-btn{
    font-size: 15px;
    padding: 5px 25px 5px 25px;
    border-radius: var(--btn-radius);
    border-style: none;
    outline: none;
    font-family: var(--primary-font);
    background-color: white;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.5s;
}

.share-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.middle-media {
    text-align: center;
}

.middle-media div {
    margin-top: 80px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.middle-media h2 {
    font-family: var(--primary-font);
}

.middle-media p {
    font-family: var(--secondary-font);
}

.middle-media i {
    font-size: 25px;
    margin-right: 50px;
}

.middle-media button {
    font-size: 15px;
    font-family: var(--primary-font);
    border: none;
    border-radius: var(--btn-radius);
    padding: 5px 15px 5px 15px;
    transition: var(--link-transition-time);
}

.middle-media button:hover {
    cursor: pointer;
}

.middle-media i {
    transition: var(--link-transition-time);
    text-align: center;
}

.middle-media i:hover {
    cursor: pointer;
    opacity: 0.9;
}

.media .flex-container .flex-item:nth-child(3) div{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
}

#music-pic {
    width: 60%;
    height: inherit;
    border-radius: 10px;
}

.page-content {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    padding: 50px;
}

.page-content h1 {
    text-align: center;
    padding: 10px;
    font-family: var(--primary-font);
}

#main-page-content p {
    text-align: center;
    font-family: var(--secondary-font);
    margin: 0;
}

/* Somehow make this a transition // less clunky */
.hide-slider {
    left: -12%;
}

.share-slider {
    position: absolute;
    z-index: 1;
    width: 10%;
    background-color: white;
    padding: 10px 0px 10px 0px; 
    margin-top: 90px;
    border-radius: 0 20px 20px 0;
}

.share-slider ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.share-slider ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.share-slider a {
    text-decoration: none;
    color: black;
    transition: var(--link-transition-time);
}

.share-slider a:hover {
    color: var(--link-hover);
}

.lyrics-modal {
    overflow-y: auto;
    position:absolute;
    margin-top: 150px;
    margin-left: 20px;
    background-color: white;
    padding: 30px;
    width: 30%;
    height: 100px;
    visibility: hidden;
}
/* 
.lyrics-modal i {
    float: right;
    font-size: 20px;
    transition: var(--link-transition-time);
}

.lyrics-modal i:hover {
    color: var(--link-hover);
    cursor: pointer;
} */

.lyrics-modal p {
    font-family: var(--secondary-font);
    margin-top: 40px;
}

.lyrics-modal h1 {
    font-family: var(--primary-font);
    text-align: center;
}

.contact-form-wrap {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-wrap label {
    font-family: var(--secondary-font);
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.contact-form-wrap input {
    font-family: var(--secondary-font);
    width: 100%;
}

.contact-form-wrap form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contact-form-wrap input {
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

.contact-form-wrap input:focus {
    outline: none;
}

.contact-form-wrap input[type="submit"] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    background-color: white;
    transition: 1s;
}

.contact-form-wrap input[type="submit"]:hover {
    opacity: 0.85;
    cursor: pointer;
}
 
.login-sign-up-wrap {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-sign-up-wrap input[type="text"], .login-sign-up-wrap input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 20%;
}

.login-sign-up-wrap input {
    font-family: var(--secondary-font);
}

.login-sign-up-wrap input:focus {
    outline: none;
}

.login-sign-up-wrap input[type="submit"] {
    padding: 10px;
    border-radius: var(--btn-radius);
    border: none;
}

.login-sign-up-wrap input[type="submit"]:hover {
    opacity: .8;
    transition: var(--link-transition-time);
    cursor: pointer;
}

.login-sign-up-wrap .feedback {
    padding-top: 10px;
    font-family: var(--secondary-font);
}

#next-songs-section {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
}

#next-songs-section h2 {
    font-family: var(--primary-font);
}

#share-section {
    flex: 0;
}