<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/media') %>
    <div class="page-content">
        <div class="contact-form-wrap">
            <h1>Contact Us</h1>
            <form method="post" name="contact-us" id="contact-us-form">
                <label>Email</label>
                <!-- Could use type email, but for this purposes of javascript validation i will use text-->
                <input type="text" name="email" placeholder="Enter your email..." required>
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="Enter your first name...">
                <label>Last Name</label>
                <input type="text" name="last-name" placeholder="Enter your last name...">
                <label>Message</label>
                <input type="text" name="message" placeholder="What would you like to tell us?" required>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>