<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/media') %>
    <div class="page-content" id="main-page-content">
        <h1>Song</h1>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>