<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/media') %>
    <div class="page-content" id="main-page-content">
        <h1>About</h1>
        <p>A radio station with the best 2000's rock.</p>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>